#	if	[ -z $RTA_ROOT ]
#	then
#	echo	export RTA_ROOT=$HOME/?/rta
#	exit
#	fi

if	[ -e $HOME/dynamic.rta ]
then
echo	data found
else
mkdir	$HOME/dynamic.rta
echo	"	\$path	"$RTA_BINARY/../../target.rta/ > $HOME/dynamic.rta/target.def
cp	$RTA_BINARY/../../target.rta/fponline/onlinefp.def $HOME/dynamic.rta
cp	$RTA_BINARY/../../target.rta/fponline/dynamic.def $HOME/dynamic.rta
cp	$RTA_BINARY/../../target.rta/fponline/runagate.msm $HOME/dynamic.rta
fi

