
if	[ -e "/dynamic/rta/fponline" ]
then
	echo	/dynamic/rta/ filestore found
else
	sudo	cp	ramdev /etc/init.d
	sudo	./ramdev
fi


if	[ -e $HOME/dynamic.rta ]
then
	echo	data found
else
	mkdir	$HOME/dynamic.rta
	echo	"	\$path	"$RTA_BINARY/../../target.rta/ > $HOME/dynamic.rta/target.def
	echo	"	\$path	"$HOME/dynamic.rta/ > $HOME/dynamic.rta/target2.def
	cp	$RTA_BINARY/../../target.rta/fponline/dynamic.def $HOME/dynamic.rta
#	cp	$RTA_BINARY/../../target.rta/fponline/runagate.msm $HOME/dynamic.rta
fi

